<div class="col">
  <div class="card h-100 bg-white" style="width: 21rem">
    <div class="card-body">
      <h2 class="card-title"><%= msg.user %></h2>
      <h3 class="card-subtitle mb-2 text-muted">
        <%= `${formatDistanceToNow(msg.added)} ago`%>
      </h3>
      <p class="card-text overflow-auto" style="height: 12rem">
        <%- msg.text %>
      </p>
    </div>
  </div>
</div>
