<%- include("_header") %>
<div class="container">
  <h1><%= title %></h1>
  <div class="row row-cols-1 row-cols-md-3">
    <form method="POST" action="/new" class="col">
      <div class="mb-3">
        <label for="text" class="form-label">Message</label>
        <textarea name="text" class="form-control" id="text"></textarea>
      </div>
      <div class="mb-3">
        <label for="user" class="form-label">User</label>
        <input name="user" class="form-control" id="user" />
      </div>

      <button type="submit" class="btn btn-primary w-50">Send</button>
    </form>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

<%- include("_footer") %>
