<%- include("_header") %>
<p>Welcome to <%= title %></p>
<% messages.forEach(function(msg) { %> <%- include("_messagewidget", { msg: msg
}) %> <% }) %>
<a href="/new">New message</a>
<%- include("_footer") %>
